
.mine_header{
    width: 100%;
    height: 6.1875rem;
    background: url(//static-as.missfresh.cn/frontend/user/static/img/my-bg.95ae718.png) 100%;
    padding-top: 3.9375rem;

    a{
        display: block;
        height: 2.25rem;
        width: 5.1875rem;
        margin: 0 auto;
        line-height: 2.25rem;
        font-size: .875rem;
        color: #ff4891;
        text-align: center;
        border: 2px solid #ff4891;
        border-radius: .25rem;
    }
}
#user_items{
    height: 4.375rem;
    padding: .75rem 0;
    height: 100%;
    ul{
        padding: .625rem 0;
        height: 4.375rem;
        // overflow: auto;
        li{
            width: 25%;
            float: left;
            text-align: center;
            color: #4d4d4d;
            font-size: .75rem;
            line-height: 1.375rem;
            position: relative;
            span{
                display: block;
                i{
                    font-style: normal;
                    font-size: 1rem;
                }
            }
            img{
                height: .75rem;
                width: 1.5rem;
                position: absolute;
                right: -0.375rem;
                top: .9375rem;
            }
        }
    }
    #plus{
        padding: 0 .9375rem;
        .mine_plus{
            width: 100%;
            p.top{
                width: 100%;
                line-height: 1.875rem;
                position: relative;
                span.left{
                    line-height: 1.875rem;
                    font-size: 1.25rem;
                    color: #474245;
                    float: left;
                }
                span.right{
                    float: right;
                    text-align: right;
                    color: #969696;
                    font-size: .75rem;
                    padding-right: .625rem;
                }
            }
            p.down{
                width: 100%;
                height: 1.875rem;
                line-height: 1.875rem;
                color: #969696;
                font-size: .75rem;
                overflow: auto;
            }
        }
    }
}

#plus_items{
    height: 3.4375rem;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    padding: .9375rem;
    ul#move_plus_items{
        width: 100%;
        position: relative;
        li{
            width: 24%;
            display: inline-block;
            span.top{
                color: #474245;
                text-decoration: none;
                display: block;
                // text-align: center;
                font-size: .75rem;
                img{
                    height: 1.75rem;
                    width: 1.75rem;
                   
                    margin-left: .5625rem;
                }
            }
            span.down{
                display: block;
                font-size: .75rem;
            }
        }
    }
}
#user_task{
    overflow: auto;
    padding: .625rem .625rem 0;
    ul{
        li.left{
            float: left;
            width: 50%;
            text-align: center;
            img{
                width: 100%;;
            }
        }
        li.right{
            float: left;
            width: 50%;
            text-align: center;
            img{
                width: 100%;;
            }
        }
    }
}
#footer_nav{
    ul{
        li{
            margin: 0 .9375rem;
            height: 3.75rem;
            line-height: 3.75rem;
            border-bottom: 2px solid #f0f0f0;
            color: #4d4d4d;
            font-weight: 700,;
            font-size: .9375rem;
            position: relative;
            span{
                display: block;
                text-align: right;
                padding-right: .625rem;
                position: absolute;
                right: 0;
                top: 0;
            }
        }
    }
}