body,div,input,ul{
    margin:0;
    padding:0;
}
body{
    color: #000;

    word-wrap: break-word;
    font-family: "-apple-system","Helvetica Neue",Roboto,"Segoe UI",sans-serif;
}
.home-container {
    display: flex; flex-direction: column;
    justify-content: space-between;
}

.header,.footer {
    flex-grow: 0; flex-shrink: 0;
}

 main{
    flex-grow: 1; flex-shrink: 1;
    overflow: auto;
}
.header{
    height:4.7rem;
    font-size: 0.875rem;
    background-color: white;
    width: 100%;
    line-height: 1.25rem;
    border-bottom:1PX solid #E6E6E6;
}
.icon-img {
    height: 1em;
    position:absolute;
    top:0.9rem;
    left:1.25rem;
    }
.location{
position:absolute;
top:0.62rem;
left:5.5rem;
    white-space: nowrap;
    
}
.build-name{
    max-width: 4.875rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    vertical-align: middle;
    font-size: 1rem;
}

.icon-xiajiaobiao{
    position:absolute;
    top:0.1rem;
    left:5rem;
    height:0.5rem;
    width:0.5rem;

}
.icon-sousuo{
    position:absolute;
    
    left:0.5rem;
    height:0.5rem;
    width:0.5rem;
    color: #C6C6C6;
}
.search{
    width:9.375rem;
    position: absolute;
    top:0.1875rem;
    right:0.4375rem;
    height: 1.875rem;
    background: #FFFFFF;
    border: 0.0625rem solid #E6E6E6;
    border-radius: 2.1875rem;
    text-align: left;
    line-height: 1.875rem;
}
    .search span {
        font-size: 0.875rem;
        color: #C6C6C6;
        margin-left: 0.3125rem;
        position:absolute;
        left:1.5rem;
    }

    .nav {
        display:flex;
        flex-flow: nowrap;
       overflow-x: auto;
        white-space: nowrap;
        margin-left: auto;
        margin-right: auto;
        position: absolute;
        
       top:2.2rem;
       left:-1.7rem;
       width:88%;
       overflow: hidden;
     }

    .swiper-wrapper {
        
        
       position:absolute;
       left:0.625rem;

       width:100px;
        height: 100%;
        z-index: 1;
        display: flex;
        justify-content: space-between;
    }
  
    .swiper-slide {
        position:absolute;
    }
   .nav-item{
      
       position:absolute;
        display: inline-block;
        box-sizing: border-box;
        color: #262626;
        font-size: 14PX;
        text-align: center;
        line-height: 40PX;
        background-size: contain;
        background-position: center right;
        background-repeat: no-repeat;
    
    }
.nav-item span{
   
   
    height: 100%;
    margin: 0 0.9375rem;
    box-sizing: border-box;
    border-bottom: 0.125rem solid transparent;

}

.swiper2{
    height:18.125rem;
    width:24rem;
    background:red;
    position:relative;
   left:-0.625rem;
    margin:0;
    padding:0;
   

}
.wrapper2{
    margin:0;
    padding:0;
   
}

    .swiper2 .wrapper2 .swiper-slide img{
        margin:0;
        display:block;
        height:100%;
        width:100%;
    }

 .banner-slider {
        
    width: auto;
    left: auto;
    right: 0.5rem;
    bottom: 0.5rem;
    padding: 0 0.5rem;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 0.625rem;
    }
    .nav_5_bg{
       


background:url("https://j-image.missfresh.cn/img_20181014220458727.png" );
background-size:23.4375rem 14.0625rem;
    }
.nav_5{
    width: 100%;
    height: 6.8125rem;
    display:flex;
    justify-content: space-around;
    position:relative;
    top:1.4rem;
   
}
.nav_5_item{
    flex: 1;
    text-align:center;
}
.nav_5_item img{
   
    width: 2.5rem;
    
}


.nav_2{
    padding: 0 0.9375rem;
   
    display:flex;
    justify-content: space-between;
    position:relative;
    top:-0.625rem;
   
}

.nav_2_item img{
    width: 10.625rem;
    height: 6.25rem;
}
.tupian img{
   height:8.4375rem;
   width:100%;
}
//chanpin
.product-_item{
    background: #fff;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    justify-content: space-around;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
   
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 0;
    -moz-flex: 1 1 0;
    flex: 1 1 0;
    position: relative;
    box-sizing: border-box;
    padding: 1.375rem 0;
    border-bottom: 0.0625rem solid #f5f5f5;
    margin:0 0.625rem;
}

.left .img—big{
    width: 7.5rem;
    height: 7.5rem;
    margin-right: 0.9375rem;
    margin-left: 0.3125rem;
    position: relative;
}
.left .img—small{
    height: 2rem;
    position:absolute;
    top:1.5rem;
}
.right-contier{
position:relative;
left:-10px;
}
.right .p_one{
    font-size: 1rem;
    color: #474245;
    width: 12.5rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.right .p_two{
    font-size: 0.875rem;
    color: #969696;
    width: 12.5rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.right .p_two{
background-color: rgb(255, 255, 255);
    border-color: rgb(204, 140, 154);
    color: rgb(204, 140, 154);}
 .four{
    font-size: 1rem;
    letter-spacing: -1PX;
    display: inline;
    vertical-align: baseline;
    margin-left: -0.3125rem;
    color: rgb(255, 72, 145);
}
.four span{

    font-size: 0.75rem;
    letter-spacing: -1PX;
    display: inline-block;
   
    vertical-align: baseline;
    margin-left: -0.3125rem;
    color: rgb(150, 150, 150);
    position:relative;
    left:0.625rem;
    text-decoration: line-through;
    
}
.four-p{
    font-size: 1rem;
    letter-spacing: -1PX;
    font-size: 0.75rem;
    vertical-align: baseline;
    margin-left: -0.3125rem;
    color: rgb(255, 72, 145);}
.five-p{
    font-size: 1rem;
    letter-spacing: -1PX;
    font-size: 1rem;
    vertical-align: baseline;
    margin-left: -0.3125rem;
    color: rgb(248, 188, 0)
}
.five-p span{
    height: 0.75rem;
border:1px solid rgb(248, 188, 0);
font-size:0.75rem
}
.img{
    width: 45PX;
    position:absolute;
    right: 0.625rem;
    top: 4rem;
}
//footer
.footer { 
    width: 100%; height: 3.7rem;border-top: 1px solid #f6f6f6;
    background-color: white;
   display: flex;
   position:relative
}

.footer__item {
    flex-grow: 1; display: flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    font-size: 0.8rem;
    line-height: 1.8;
    color: #262626;
}



.footer__item.active {
    color: #FF5BA4;
    background-color: #e7f3f0;
}

//tip
.tip{
    position: absolute;
    top:4.7rem;
    width: 100%;
    height: 2rem;
    color: #4b4b4b;
    background: #fff9e3;
    font-size: 0.75rem;
    opacity: .9;
    z-index: 10;
   
}
.tip p{
    float: left;
    line-height: 2rem;
    font-style: normal;
    color: #4b4b4b;
    font-size: 0.75rem;
   
}
//点击某一项颜色变红
.nav-item.active span{
   color:red
}
.xiala{
    position: absolute;
    top: 2.625rem;
    left: 21.3125rem;
    z-index: 10;
}

.xialaMenu{
    position:absolute;
    top:4.75rem;
    background:white;
    padding-top: 0.625rem;
    min-height: 10.625rem;
    max-height: 25.625rem;
    overflow-y: auto;
    width:100%;
    display:flex;
    justify-content: space-between;
    z-index:50;
    flex-wrap:wrap;
    display:none;
}
.xialaMenu_item{
    width:33.3%;
   margin:1.5rem 0;
  
}
.xialaMenu_item_continer img{
   position:relative;
   left:43px;
    display: block;
    width: 2.25rem;
    height: 2.25rem;
    
    
    
} 
.xialaMenu_item p{
    padding: 0 0.625rem;
    height: 1.125rem;
    line-height: 1.125rem;
    font-size: 0.75rem;
    font-weight: normal;
    color: #4d4d4d;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.search_input{
    width:100%;
    height:2.75rem;
    padding: 6px 10px;
    background: white;
    border-bottom:0.0625rem solid #f5f5f5;;
    
}
.search_continer{
    position: relative;
    left:1.625rem;
    padding-left: 30px;
    padding-right: 30px;
    height: 100%;
    width: 80%;
    box-sizing: border-box;
    z-index: 1;background: #f5f5f5;}

.search_continer input{
    padding: 4px 0;
    width: 100%;
    height: 1.42857143em;
    border: 0;
    font-size: 14px;
    line-height: 1.42857143em;
    box-sizing: content-box;
    background: transparent;
}
.search_input_span{
    position:relative;
    top: -1.5rem;
    color: #09bb07;
    right: -20.3rem;
    font-size: .875rem;
}
.hotkey{
    position:relative;
    top:0.375rem;    height:10.5625rem;
    width:100%;
   
}
.hotkey_p{
  
    padding-left: 0.9375rem;
    line-height: 1.375rem;
    font-size: 0.875rem;
    color: #474245;
    font-weight: bold;
    margin:1.3125rem 0
}
.hotkey_item_continer{
    border-bottom: 0.0625rem solid #f6f5f5;
    padding-bottom: 1rem;
   
}
.hotkey_item{
    margin-left: 0.625rem;
    margin-bottom: 0.625rem;
    display: inline-block;
    color: #262626;
    line-height: 1.875rem;
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    background: #f6f5f5;
    border-radius: 0.25rem;
    word-wrap: break-word;
    font-size: .875rem;
}
.tuijian{
    position:relative;
    top:2.125rem;
}
.tuijian h3{
    margin-left: 0.9375rem;
    margin-bottom: 0.1875rem;
    text-align: left;
    width: 100%;
    height: 1.375rem;
    font-size: 1rem;
    letter-spacing: -0.04rem;
    font-weight: bold;
}
.hongbao{
    width: 3.125rem;
    height: auto;
    position: fixed;
    bottom: 3.4375rem;
    right: 0.375rem;
    z-index: 90;
}
.icon-9,.icon-11{
    color:red;
    display:inline-block;
    font-size:1.875rem
}
.icon-zuojiantou{
    position:absolute;
   
}
.icon-gouwuche{
    position:fixed;
    bottom:1.25rem;
    font-size:2.5rem;
    left:1rem;
}
.title{
    width: 100%;
    height: 2.75rem;
    line-height: 2.75rem;
    text-align: center;
    font-size: 1rem;
    color: #262626;
    font-weight: normal;
    border-bottom: 1PX solid #e6e6e6;
    position: absolute;
    top:2rem;

    display:none
}
.title i{
    position:relative;
    top:-2.6rem;
    left:10rem;
    font-size:1.5rem;
    display:none;
}

.goumai{
    position:relative;
    top: -1.45rem;
    left: 7.25rem;
    display:none;
}
.goumai .icon-11{
    position:relative;
    left:-0.3125rem
}
.goumai span{
    font-size:14px;
    position:relative;
    top:-0.1875rem
}
.catNum{
    position: absolute;
    top: 0.375rem;
    left: 266px;
    background: red;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    display:none;
}